.plan-container {
  margin-top: 20px;
}

.book-title {
  margin-top: 20px;
}

.reading-plan-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: solid 1px #e5e7eb;
  background-color: #fdfaf6;
  border-radius: 6px;
  text-align: center;
}

.schedule-day {
  margin-bottom: 15px;
}

.progress-checkbox {
  margin-left: 10px;
}
.reading-schedule {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
}

.download-pdf-button {
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #e4efe7;
  background-color: #99bc85;
  color: #fdfaf6;
  filter: drop-shadow(3px 3px 6px #c6c7cb);
}
